.NFTMinting-area {
    background: #21013E;
    padding: 112px 0;
    .read-more{
        margin-top: 40px;
        display: inline-block;
    }
}

.minting-left {
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        display: inline-block;
        padding-bottom: 12px;
    }

    .h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
        max-width: 480px;
    }
}

.minting-right {
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;

    }

    .minting-item {
        margin-top: 40px;
        .h6 {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            padding-top: 16px;
            margin-bottom: 0;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
}

.minting-main-img{
    img{
        width: 90%;
    }
}

@media (max-width: 1199.98px){
    .minting-ser{
        display: none;
    }
    .minting-left{
        img{
            width: 100%;
        }
    }
    .minting-left .h2 { 
        font-size: 40px; 
        max-width: 345px;
    }
    .minting-right p { 
        font-size: 15px; 
        padding-top: 24px;
    }
    .minting-text{
        padding-left: 30px;
    }
}

@media (max-width: 991.98px){
    .minting-ser {
        display: block;
        img{
            width: 48px;
            height: 48px;
        }
    }
    .minting-left img { 
        margin: 30px 0 10px;
    }
    .NFTMinting-area { 
        padding: 32px 0 65px;
    }
    .minting-text {
        padding-left: 0;
    }
    .minting-right .minting-item {
        margin-top: 20px;
    }
    .minting-left .h2 {
        font-size: 32px;
        max-width: 300px;
    }
}