.features-area {
    padding: 112px 0;
    background: #21013E; 
}

.features-gallery {
    display: grid;
    grid-template-columns: 1fr 189px;
    gap: 35px;

    .text {
        display: grid;
        gap: 35px;
    }

    img {
        width: 100%;
    }

    .main-img {
        img {
            max-height: 341px;
            height: 100%;
            object-fit: cover;
        }
    }

}

.features-text {
    margin-left: 50px;
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;

    }

    .h2 {
        font-family: 'Azeret Mono';
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
        max-width: 457px; 
        padding-top: 16px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        max-width: 390px; 
        padding: 24px 0;
    }
}