.miner-area {
    background: #000000;
    padding: 112px 0;
}

.miner-text {
    text-align: center;
    position: relative;
    z-index: 1;

    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }

    .h2 {
        font-family: 'Azeret Mono';
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;

    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        max-width: 500px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

}

.miner-img {
    padding: 60px 0;
    position: relative;
    z-index: 1;
    margin-left: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 80%;
        height: 135%;
        background-size: cover;
        z-index: -1;
        text-align: center;
        margin: 0 auto;
        background: url('../../image/bg-shape.svg') no-repeat center;
        margin-top: -100px;
    }

    img {
        width: 100%;
    }
}

@media (max-width: 1199.98px){
    .miner-img::before { 
        width: 100%;
        height: 163%; 
        margin-top: -36px;
    }
    .miner-text .h2 { 
        font-size: 40px; 
    }
    .miner-text p {
        max-width: 812px;
        padding-bottom: 50px;
    }
    
}

@media (max-width: 991.98px){
    .miner-area{
        padding: 64px 0;
    }
    .miner-img::before {
        width: 100%;
        height: 136%;
        margin-top: -47px;
        background-size: cover;
    }
    .miner-text .h2 {
        font-size: 32px;
        padding-top: 10px;
    }
    .miner-text p { 
        font-size: 16px; 
        padding-bottom: 40px;
        text-align: left;
    }
}